<script>
	let stack = {
		server: {
			code: [{}],
			data: [{}]
		},
		clients: [{}]
	};

	const presets = {
		webspa_mobile_backend: {
			server: {code: [{}], data: [{}]},
			clients: [{
				platform: ['android','ios']
			}]
		},
		webssr_backend: {
			server: {code: [{}], data: [{}]},
			clients: [{
				platform: ['webssr']
			}]
		},
		mobile: {
			server: null,
			clients: [{
				platform: ['android','ios']
			}]
		}
	}

	function addClient(){
		stack.clients = [...stack.clients, {}]
	}

	function addDatastore(){
		stack.server.data = [...stack.server.data, {}]
	}

	function addCode(){
		stack.server.code = [...stack.server.code, {}]
	}

	function deleteClient(indx){
		stack.clients = stack.clients.slice().splice(indx, 1);
	}

	function deleteDatastore(indx){
		stack.server.data = stack.server.data.slice().splice(indx, 1);
	}

	function deleteCode(indx){
		stack.server.code = stack.server.code.slice().splice(indx, 1);
	}

	function choosePreset(name){
		stack = JSON.parse(JSON.stringify(presets[name]))
	}
</script>

<div class="px-4 sm:px-6 lg:px-8 h-screen">
	<div class="mt-8 md:flex md:items-center md:justify-between">
		<div class="min-w-0 flex-1">
		  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-4xl sm:tracking-tight">Build your tech stack</h2>
		</div>
	</div>

	<p>Try some presets: 
		<button class="underline text-blue-500 hover:text-blue-700 cursor-pointer" on:click={e => choosePreset('webspa_mobile_backend')}>Backend + WebSPA + Mobile App</button>,
		<button class="underline text-blue-500 hover:text-blue-700 cursor-pointer" on:click={e => choosePreset('webssr_backend')}>Backend + WebSSR</button>,
		<button class="underline text-blue-500 hover:text-blue-700 cursor-pointer" on:click={e => choosePreset('mobile')}>Mobile App without backend</button>
	</p>

	<div class="grid grid-cols-3 gap-8 h-full mt-4">
		<div class="bg-gray-100 text-center rounded-lg px-4 py-5">
			<div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
				<div class="ml-4 mt-2">
				  <h3 class="text-lg font-medium leading-6 text-gray-900">Clients</h3>
				</div>
				<div class="ml-4 mt-2 flex-shrink-0">
				  <button on:click={addClient} type="button" class="relative inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add new</button>
				</div>
			</div>

			{#each stack.clients as client, indx}
			<div class="bg-gray-50 mb-4 mx-4 text-center rounded-lg shadow-lg">
				<div class="mt-4 isolate flex items-center rounded-md">
					<sl-select on:sl-change={e => client.platform = console.log(e.target)} value={client.platform} class="w-full" placeholder="Select platforms" multiple clearable>
						<sl-menu-item value="android">Android</sl-menu-item>
						<sl-menu-item value="ios">iOS</sl-menu-item>
						<sl-menu-item value="webspa">Webapp (SPA)</sl-menu-item>
						<sl-menu-item value="webssr">Webapp (SSR)</sl-menu-item>
						<sl-menu-item value="webext">Web Extension</sl-menu-item>
						<sl-menu-item value="windows">Windows</sl-menu-item>
						<sl-menu-item value="macos">Mac OS</sl-menu-item>
						<sl-menu-item value="linux">Linux GUI</sl-menu-item>
						<sl-menu-item value="cli">Command-line</sl-menu-item>
					</sl-select>
				</div>
				<sl-icon-button on:click={e => deleteClient(indx)} name="trash" label="delete" style="font-size: 1.0rem;"></sl-icon-button>
			</div>
			{/each}
		</div>

		{#if stack.server}
		<div class="bg-gray-100 col-span-2 text-center rounded-lg">
			<h2 class="font-bold mb-4">Servers</h2>
			<div class="grid grid-cols-2 gap-4 h-screen mt-4">
				<div class="bg-white mb-4 mx-4 px-2 py-4 text-center rounded-lg shadow-lg">
					<div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
						<div class="ml-4 mt-2">
						  <h3 class="text-lg font-medium leading-6 text-gray-900">Code</h3>
						</div>
						<div class="ml-4 mt-2 flex-shrink-0">
						  <button on:click={addCode} type="button" class="relative inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add new</button>
						</div>
					</div>
					
					{#each stack.server.code as code, indx}
					<div class="bg-gray-50 mb-4 mx-4 text-center rounded-lg shadow-lg">
						<div class="mt-4 isolate flex items-center rounded-md">
							<sl-select class="mt-4 w-full" placeholder="Select capabilities" multiple clearable>
								<sl-menu-item value="concurrency">concurrency</sl-menu-item>
								<sl-menu-item value="ml">machine learning</sl-menu-item>
								<sl-menu-item value="web">web server</sl-menu-item>
							</sl-select>
						</div>
						<sl-icon-button on:click={e => deleteCode(indx)} name="trash" label="delete" style="font-size: 1.0rem;"></sl-icon-button>
					</div>
					{/each}
				</div>
				
				<div class="bg-white mb-4 mx-4 px-2 py-4 text-center rounded-lg shadow-lg">
					<div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
						<div class="ml-4 mt-2">
						  <h3 class="text-lg font-medium leading-6 text-gray-900">Data</h3>
						</div>
						<div class="ml-4 mt-2 flex-shrink-0">
						  <button on:click={addDatastore} type="button" class="relative inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Add new</button>
						</div>
					</div>
					
					{#each stack.server.data as data, indx}
					<div class="bg-gray-50 mb-4 mx-4 text-center rounded-lg shadow-lg">
						<div class="mt-4 isolate flex items-center rounded-md">
							<sl-select class="mt-4 w-full" placeholder="Select capabilities" multiple clearable>
								<sl-menu-item value="android">SQL</sl-menu-item>
								<sl-menu-item value="ios">JSON</sl-menu-item>
								<sl-menu-item value="windows">Queue</sl-menu-item>
								<sl-menu-item value="macos">Persistence</sl-menu-item>
								<sl-menu-item value="linux">Clustering</sl-menu-item>
								<sl-menu-item value="web">Managed hosting</sl-menu-item>
							</sl-select>
						</div>
						<sl-icon-button on:click={e => deleteDatastore(indx)} name="trash" label="delete" style="font-size: 1.0rem;"></sl-icon-button>
					</div>
					{/each}
				</div>
			</div>
		</div>
		{/if}
	</div>
</div>